h1,h2,h3,h4,h5,h6 {
    color: rgb(70,0,0);
    font-family: "Arial Black","sans-serif"; 
}
body {
    background: rgb(100,100,100);
}
p {
    color: rgb(0,0,0);
    font-family: Helvetica,"sans-serif"; 
    line-height: 0.9;
    width: 500px;
    text-indent: 30px;
}
td {
    vertical-align: top;
}
